html,
body {
    height: 100%;
}

html,
body,
input,
textarea,
buttons {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


footer {
    height: 100px;
    padding-top: 35px;
}

.chart-container {
    clear-after: both;
}